* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 10px;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

.container {
  padding: 0 15px;
}

button {
  padding: 10px;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  outline: 1px solid rgb(44, 156, 225);
  background-color: rgb(44, 156, 225);
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  transition: 0.3s;
}

button:disabled {
  background-color: rgb(237, 243, 251);
  color: black;
  outline: 1px solid rgb(237, 243, 251);
}

button:hover:disabled {
  transform: scale(1);
}

#secondary_btn {
  background-color: #e3c388;
  outline: 1px solid #e3c388;
  color: #56534e;
  font-size: 1.4rem;
  margin-left: 0;
}

@media (max-width: 600px) {
  #secondary_btn {
    margin-left: 0;
  }
}
